body, html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    font-size: .7rem;
    text-align: center;
}

div.map-locations {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

a {
    width: 270px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border: ivory 2px solid;
    border-radius: 2px;
    margin: 20px;
    padding: 20px;
    box-shadow: ivory -8px 8px;
}
