body, html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.welcome-note {
    height: 450px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes pulse {
    0% {
        background-image: url('../assets/halo-100-medium.png');
    }
    100% {
        background-image: url('../assets/halo-100.png');
    }
}

.welcome-note {
    animation: 
        pulse
        1.7s
        ease-in-out
        alternate
        infinite;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;    
}


p {
    font-size: .7rem;
}

label.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.character-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label.character-label {
    width: 270px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: ivory 2px solid;
    border-radius: 2px;
    margin: 20px;
    padding: 20px;
    box-shadow: ivory -8px 8px;
    text-align: center;
}

input[type='radio'] {
    display: none;
}

label:hover {
    color: rgba(255, 255, 240, .5);
    cursor: pointer;
    transition: .2s ease-in-out;
}

label:active {
    color: rgb(121, 255, 210);
}

input[type='radio']:checked + label {
    border: rgb(121, 255, 210) 2px solid;
    box-shadow: rgb(121, 255, 210) -8px 8px;    
    transition: .5s ease-in-out;
}

button {
    height: 30px;
    background: ivory;
    color: rgb(27, 27, 27);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border: ivory 3px solid;
    border-radius: 5px;
    margin: 0px 0px 50px 0px;
}

button:hover {
    background-color: rgb(121, 255, 210);
    border: ivory 3px solid;
    border-radius: 5px;
}

button:focus {
    background: rgb(27, 27, 27);
    color: ivory;
    border: rgb(27, 27, 27) 3px solid;
    border-radius: 5px;
}