
body {
    font-family: 'Titillium Web', sans-serif;
    background-color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: flex-end;
}

footer {
    display: flex;
    justify-content: flex-end;
}